.home__listProducts{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    justify-content: center;
    grid-template-rows:auto ;
    gap: 40px;
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 300px;
    margin-top: 120px;
    

}
.home__form{
    line-height: 25px;  
    padding: 20px;
    position: fixed;
    line-height: 40px;
    text-align: center;
    width: 200px;
    height: 100%;
    

}
.categories__name{
    padding-top: 10px;
    text-align: center;
}
.form__ul li{
    cursor: pointer;
    width: 150px;
    text-align: center;
    margin: 0 auto;
}
.form__ul li:hover{
    color: brown;
    font-weight: bold;
   
}
#nameProduct{
    border: none;
    outline: none;
    border-bottom: 1px solid var(--primary);
}
.form__search{
    display: flex;
    gap: 10px;
}
.form__btn-search{
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    width: 50px;
    color: white;
    font-weight: bold;
    padding: 8px;

}
.form__btn-search:hover{
    background-color: brown;
    font-weight: bold;
   

}



