
.purchases__section-container{
 font-size: 14px;
 padding: 20px;
 margin-top: 40px;
}
.purchases__title{
  font-size: 25px;
  padding: 40px;
  color: var(--dark-gray);
}
.purcharse__card-container{
    display: flex;
    margin-bottom: 25px;
    max-width: 1200px;
}

.purcharse__card-header{
    width: 80%;
    height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    

}
.purchases__Card-img{
   width: 100%;
   height: 100%;
}
.purchases__Card-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.purchases__card-title{
    color: var(--dark-gray);
    width: 100%;
}
.purcharse__card-date{
    color: var(--light-gray);
}
.purcharse__card-quantity{
    border: 1px solid var(--light-gray);
    text-align: center;
    color: white;
    width: 50px;
    background-color: var(--primary);
}
.purcharse__card-info{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;


}

@media (max-width: 476px) { 
    .purcharse__card-info{
        width: 25%;
        display: grid;
        text-align: center;
       
    
    }
    .purcharse__card-quantity{
        border: 1px solid var(--light-gray);
        width: 100%;
        text-align: center;
    }
}


